/* =========================== Patern ========================== */
*{
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 1.5rem;
}

.gradient {
  background: linear-gradient(90deg, #22d3fd, #d2a2f8, #7c21ea);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: black;
}
/* ============================================================= */
/* =========================== Header ========================== */
.header{
  height: 100px;
  width: 100%;
}

.header-logo{
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.header-logo img{
  width: 80px;
}

.header-logo h1{
  font-size: 75px;
  font-weight: bold;
}
/* ============================================================= */
/* ============================ Main =========================== */
.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#encrypt-text{
  color: #000000;
  border: none;
  background-color: #f7f7f7;
  width: 100%;
  height: 500px;
  outline: none;
  resize: none;
  padding: 1.5rem;
  font-size: 32px;
}

#encrypt-text::placeholder{
  color: #000000;
}

.encrypt{
  background-color: #f7f7f7;
  flex-grow: 2;
  flex-basis: 65%;
}

.decrypt{
  flex-grow: 1;
  flex-basis: 35%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#22d3fd, #d2a2f8, #7c21ea);
  padding: 0 20px;
}

.decrypt img{
  width: 100%;
}

.decrypt h3{
  width: 100%;
  color: #FFFFFF;
  text-align: center;
}

.decrypt h3{
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
}

.decrypt p{
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #f7f7f7;
  padding: 100px 30px;
  flex-wrap: wrap;
}

.button{
  padding: 10px 60px;
  border: none;
  width: 100%;
  max-width: 300px;
}

.btn-encrypt{
  background-color: #7c21ea;
  color: #f7f7f7;
}

.btn-encrypt:hover{
  color: #7c21ea;
  border: solid 1px #7c21ea;
  background-color: #FFFFFF;
  cursor: pointer;
}

.btn-decrypt{
  background-color: #22d3fd;
  color: #000000;
}

.btn-decrypt:hover{
  color: #22d3fd;
  border: solid 1px #22d3fd;
  background-color: #FFFFFF;
  cursor: pointer;
}
/* ============================================================= */

@media (max-width: 510px) {
  .header-logo h1{
    font-size: 60px;
    font-weight: bold;
  }
}

@media (max-width: 440px) {
  .header-logo h1{
    font-size: 40px;
    font-weight: bold;
  }

  #encrypt-text{
    font-size: 28px;
  }
}
